<div class="row justify-content-center">
  <div class="col-md-10 ">
    <form role="form">
      <div class="form-group">

        <p class="fs-2">New Post</p>

        <label for="post-title">title</label>
        <input type="text" class="form-control" id="post-title" />

        <label for="content">Post</label>
        <textarea id="post_text" name="post_text"></textarea>

        <button type="submit" class="btn btn-primary" id="submitBtn">Create</button>
    </form>
  </div>
</div>
</div>



<script src="./js/createPost.js"></script>