<div class="row justify-content-center">
  <div class="col-md-10 ">
    <form role="form">
      <div class="form-group">

        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" />

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" />

        <button type="submit" class="btn btn-primary" id="submitBtn">Login</button>

        <div id="register-link" class="text-right">
          <a href="/signup" class="text-info">Signup here</a>
        </div>
    </form>
  </div>
</div>
</div>



<script src="./js/login.js"></script>