<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form role="form">
        <div class="form-group">
          <label for="emailSignup">Email</label>
          <input type="email" class="form-control" id="emailSignup" />
          <label for="username">Username</label>
          <input type="text" class="form-control" id="usernameSignup" />
          <label for="password">Password</label>
          <input type="password" class="form-control" id="passwordSignup" />
          <button type="submit"  class="btn btn-primary mt-3" id= "signupBtn">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>